a:link {
	color: white;
}

a:visited {
	color: #9370DB;
}

a:hover {
	color: hotpink;
}

a:active {
	color: #00FFFF;
}

body {
	background-color: black;
	color: white;
}

div {
	font-size: 30px;
	font-family: Courier New;
	text-align: center;
}