.key_pressed_display {
	font-size: 30px;
	font-family: Courier New;
	text-align: center;
}

.color_sample {
	font-size: 3px;
	font-family: Courier New;
	text-align: center;
}

.color_palette {
	font-size: 3px;
	font-family: Courier New;
	text-align: center;
	line-height: 80%;
	white-space: pre;
}

.caloocan_boy {
	font-size: 3px;
	font-family: Courier New;
	text-align: center;
	line-height: 80%;
	white-space: pre;
}

.caloocan_boy_href {
	color: pink;
}

body {
	/*background-image: url('caloocan boy.bmp');*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: black;
	color: white;
	margin: 0px;
}